.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.file-picker-box {
  border: 2px solid;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  text-align: initial;
}

fieldset {
  margin-top: 5px;
  display: inline-block;
}

label {
  margin-top: 1rem;
  display: block;
  font-size: .8rem;
}

.image-display {
  margin-top: 5px;
  width: 700px;
  height: 700px;
  border: 2px solid;
  border-radius: 10px;
}

.hidden {
  display: none;
}